@font-face {
  font-family: "stoneberry";
  src: url("/fonts/stoneberry.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "arco";
  src: url("/fonts/ARCO.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Everlasting";
  src: url("/fonts/Everlasting.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

:root {
  --color-background: oklch(0.76 0.04 141.91);
  --color-primary: oklch(0.93 0.04 3.48);
  --color-text: oklch(0.29 0.07 141.59);

  font-family: "Bellota Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;

  color-scheme: light;

  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-alt {
  font-family: "arco", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.text-alert {
  font-family: "Neucha", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
dl,
dd,
ul {
  margin: 0;
}

input,
select,
button {
  font-family: "Bellota Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: oklch(0.76 0.12 14.47);
  color: var(--text);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
main > section {
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

p {
  max-width: 30ch;
  text-wrap: balance;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  color: var(--color-primary);
  text-align: center;
  text-stroke: 2px black;
  -webkit-text-stroke: 2px var(--color-text);
}

.photo {
  object-fit: contain;
}
.photo-container {
  display: flex;
}
.photo-container > * {
  flex: 1;
  display: flex;
}
.photo-container img[src*="zhenya"] {
  translate: 28% 0;
  scale: 1.4;
}
.photo-container img[src*="alina"] {
  translate: -20% 0;
  scale: 1.4;
}

.abstract {
  max-width: 40ch;
}

.icon-heart-wrapper {
  position: absolute;
  top: 0;
  translate: 10% -50%;
  z-index: -1;
  rotate: 180deg;
}

.heart-emoji {
  font-size: 4rem;
  animation: heartbeat 1s infinite;
}

.heroes {
  margin: 0 auto;
  padding: 0 0.2em;
  width: min(90vw, 60ch);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  z-index: 2;
}
.heroes__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30ch;
}

.float_1 {
  position: relative;
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.float_1 svg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.prelude .abstract {
  translate: 0 -32%;
}
.prelude p {
  margin: 0;
}
.prelude time {
  margin-top: 0.6em;
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.prelude__title-wrapper {
  z-index: 2;
  translate: 0 -60%;
}
.prelude__title-wrapper svg {
  translate: 0 -34%;
  height: 7em;
}
.prelude__title-wrapper h2 {
  font-size: 2.2rem;
}
.prelude__thesis-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.prelude__main-thesis {
  margin-top: 1em;
  font-size: 1.2rem;
}

.at-what-time {
  position: relative;
  width: 100%;
  align-self: center;
}
.at-what-time .clock {
  position: absolute;
  width: 5rem;
  left: 12%;
}
.at-what-time .float_1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.at-what-time__arrow {
  translate: -12% 20%;
}
.at-what-time h2 {
  text-align: center;
}
.at-what-time dl {
  align-self: center;
  padding: 0.4em;
  max-width: 30ch;
  border: dotted 0.1rem var(--color-text);
}
.at-what-time dt {
  font-size: 2rem;
}
.at-what-time dt ~ dt {
  margin-top: 0.6em;
}
.at-what-time .loc {
  position: absolute;
  bottom: 0;
  right: 0;
  translate: 0% 100%;
  z-index: 1;
  width: 100px;
}

.some-details {
  align-self: center;
  width: 100%;
}
.some-details .wowvine {
  position: absolute;
  width: 6rem;
  right: 10%;
  z-index: -1;
  rotate: -20deg;
}
.some-details ul {
  display: flex;
  flex-direction: column;
  gap: 1.2em;

  list-style: arabic-indic;
}
.some-details h3 {
  margin-bottom: 0.4em;
}
.some-details .abstract {
  width: 100%;
  height: 110vh;
}
#icon-some-details-1 {
  top: -50%;
}
#icon-some-details-2 path {
  translate: 20% 20%;
  /* transform: translate(100%, 0.75%); */
  /* animation: fly 1s infinite; */
}

@keyframes fly {
  100% {
    transform: translate(0, 0);
  }
}

.dress-code p {
  align-self: center;
}
.dress-code h2 {
  text-decoration: line-through;
}

.check-in {
  align-self: center;
}
.check-in form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.check-in label {
  display: flex;
  flex-direction: column;
}

.see-you {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.see-you__photo-wrapper {
  position: relative;
  display: flex;
  width: 78vw;
  max-width: 40ch;
}
.see-you__photo-wrapper > img {
  position: absolute;
  max-width: 100%;
  inset: 0;
}
.see-you .fireworks {
  translate: 0 -40%;
  z-index: -1;
}
.see-you .heart-mini {
  translate: 4% -16%;
  scale: 0.9;
  z-index: -1;
}

a {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-style: dashed;
}
